<!DOCTYPE html>

<html>
  <head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="./scripts/main.js" defer></script>
    <script src="./scripts/events.js" defer></script>
    <link rel="stylesheet" href="./styles/custom-page-style.css" type="text/css">

    <title>Fake user info generator</title>
    
  </head>
  <body>
    
    <h1>Customise generation</h1>
  
    <div>Username</div>
    <input type="text" disabled="disabled" required placeholder="Username..." id="user"><br><br>
  
    <div>Full name</div>
    <input type="text" disabled="disabled" required placeholder="Full name..." id="fullname"><br><br>
  
    <div>Password</div>
    <input type="text" disabled="disabled" required placeholder="Password..." id="pass"><br><br>
  
    <button id="button" onclick="onClickC()">Click to generate profile</button><br>
    
    <h2>Options</h2>
    
    <label for="male">Male</label><br>
    <input type="radio" id="male" name="gender" value="male"><br>
    <label for="female">Female</label><br>
    <input type="radio" id="female" name="gender" value="female"><br>
    <label for="any">Random</label><br>
    <input type="radio" id="any" name="gender" value="any"><br><br>
    
    <label for="passlength">Password Length</label><br>
    <input type="text" id="passlength" required placeholder="Password length"><br><br>
    
    
    <div id="warnbox"></div><br><br>
    
    <a href="/">Back to main page</a>
    
  </body>
</html>