<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="./scripts/main.js" defer></script>
    <script src="./scripts/events.js" defer></script>
    <link rel="stylesheet" href="./styles/index-style.css" type="text/css">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.glitch.com/e4ae8e38-4434-4629-88d1-ed984a966721%2Ffavicon.ico?v=1592411821524">

    <title>Fake user info generator</title>

</head>

<body>
  
    <h1>Fake user info generator</h1>
  
    <div>Username</div>
    <input type="text" disabled="disabled" required placeholder="Username..." id="user"><br><br>
  
    <div>Full name</div>
    <input type="text" disabled="disabled" required placeholder="Full name..." id="fullname"><br><br>
  
    <div>Password</div>
    <input type="text" disabled="disabled" required placeholder="Password..." id="pass"><br><br>
  
    <button id="button" onclick="onClick()">Click to generate profile</button><br><br>
  
    <a href="/customisedgeneration">Customise generation</a>

</body>

</html>