<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="./scripts/main.js" defer></script>
    <script src="./scripts/events.js" defer></script>

    <title>Document</title>

</head>

<body>
  
    <h1>Random user info generator</h1>
    <div>Username</div>
    <input type="text" disabled="disabled" required placeholder="Username..." id="user"><br><br>
    <div>Password</div>
    <input type="text" disabled="disabled" required placeholder="Password..." id="pass"><br><br>
    <button id="button" onclick="onClick()">Click to generate profile</button>

</body>

</html>